html{scroll-behavior:smooth}
body{margin:0;font-size:1em;line-height:1.6;font-weight:400;font-family:'Roboto Slab',serif;color:#222}
h1,h2,h3{font-weight:300;margin:.5em 0}
h4,h5,h6{font-weight:700}
h1{font-size:2em;line-height:1.6}
h2{font-size:1.6em;line-height:1.6}
h3{font-size:1.3em;line-height:1.6}
.centre{text-align:center}
.right{text-align:right}
.justify{text-align:justify}
a{color:#06664e}
a:hover,a:visited{color:#0fa0ce}
.button,button,input[type=button],input[type=reset],input[type=submit]{display:inline-block;height:2.3em;padding:2px 30px;color:#555;text-align:center;font-size:.8em;font-weight:600;line-height:2em;letter-spacing:.1em;text-transform:uppercase;text-decoration:none;white-space:nowrap;background-color:transparent;border-radius:4px;border:1px solid #bbb;cursor:pointer;box-sizing:border-box}
.button:focus,.button:hover,button:focus,button:hover,input[type=button]:focus,input[type=button]:hover,input[type=reset]:focus,input[type=reset]:hover,input[type=submit]:focus,input[type=submit]:hover{color:#333;border-color:#888;outline:0}
.button.button-primary,button.button-primary,input[type=button].button-primary,input[type=reset].button-primary,input[type=submit].button-primary{color:#fff;background-color:#06664e;border-color:#06664e}
.button.button-primary:focus,.button.button-primary:hover,button.button-primary:focus,button.button-primary:hover,input[type=button].button-primary:focus,input[type=button].button-primary:hover,input[type=reset].button-primary:focus,input[type=reset].button-primary:hover,input[type=submit].button-primary:focus,input[type=submit].button-primary:hover{color:#fff;background-color:#1eaedb;border-color:#1eaedb}
input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],select,textarea{height:38px;padding:6px 10px;background-color:#fff;border:1px solid #d1d1d1;border-radius:4px;box-shadow:none;box-sizing:border-box}
input[type=email],input[type=number],input[type=password],input[type=search],input[type=tel],input[type=text],input[type=url],textarea{-webkit-appearance:none;-moz-appearance:none;appearance:none}
textarea{min-height:65px;padding-top:6px;padding-bottom:6px}
input[type=email]:focus,input[type=number]:focus,input[type=password]:focus,input[type=search]:focus,input[type=tel]:focus,input[type=text]:focus,input[type=url]:focus,select:focus,textarea:focus{border:1px solid #007ca1;outline:0}
label,legend{display:block;margin-bottom:.5em;font-weight:600}
fieldset{padding:0;border-width:0}
input[type=checkbox],input[type=radio]{display:inline}
label>.label-body{display:inline-block;margin-left:.5em;font-weight:400}
ul{list-style:circle inside}
ol{list-style:decimal inside}
ol,ul{padding-left:0;margin-top:0}
ol ol,ol ul,ul ol,ul ul{margin:1em 0 1em 3em}
li{margin-bottom:1em}
code{padding:.2em .5em;margin:0 .2em;font-size:90%;white-space:nowrap;background:#f1f1f1;border:1px solid #e1e1e1;border-radius:4px}
pre>code{display:block;padding:1em 1em;white-space:pre}
table{border-collapse:collapse}
td,th{padding:12px 15px;text-align:left;border-bottom:1px solid #c4c3c3}
td:first-child,th:first-child{padding-left:0}
td:last-child,th:last-child{padding-right:0}
img{max-width:100%;height:auto}
figure{margin:0}
@media screen and (min-width:48em){
h1{font-size:3em;line-height:1.6;margin:.5em 0}
h2{font-size:2em;line-height:1.6;margin-bottom:.5em}
h3{font-size:1.6em;line-height:1.6}
}
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6{display:grid;grid-template-columns:1fr;row-gap:1em}
.container{padding:1em}
.rammi{margin:1em 0}
.rammi div{border:1px dotted;text-align:center}
@media screen and (min-width:37.5em){
.col-2,.col-4{display:grid;grid-template-columns:1fr 1fr;grid-gap:1em}
.col-3,.col-5,.col-6{grid-template-columns:1fr 1fr 1fr;grid-gap:1em}
}
@media screen and (min-width:48em){
.col-4{grid-template-columns:repeat(4,1fr)}
.col-5{grid-template-columns:repeat(5,1fr)}
.col-6{grid-template-columns:repeat(6,1fr)}
}
@media screen and (min-width:60em){
.container{max-width:60em;margin:1em auto;padding:0}
}
@media (min-width:80em){
.container{max-width:80em}
}
.col-1f,.col-2f,.col-3f,.col-4f,.col-5f,.col-6f{display:grid;row-gap:1em}
.col-1f{grid-template-columns:1fr}
.col-2f{grid-template-columns:repeat(2,1fr)}
.col-3f{grid-template-columns:repeat(3,1fr)}
.col-4f{grid-template-columns:repeat(4,1fr)}
.col-5f{grid-template-columns:repeat(5,1fr)}
.col-6f{grid-template-columns:repeat(6,1fr)}
@media screen and (min-width:48em){
.col-2f,.col-3f,.col-4f,.col-5f,.col-6f{grid-gap:1em}
}
@font-face{font-family:icomoon;src:url(../icomoon/fonts/icomoon.eot?cf541o);src:url(../icomoon/fonts/icomoon.eot?cf541o#iefix) format('embedded-opentype'),url(../icomoon/fonts/icomoon.ttf?cf541o) format('truetype'),url(../icomoon/fonts/icomoon.woff?cf541o) format('woff'),url(../icomoon/fonts/icomoon.svg?cf541o#icomoon) format('svg');font-weight:400;font-style:normal;font-display:block}
[class*=" icon-"],[class^=icon-]{font-family:icomoon!important;speak:never;font-style:normal;font-weight:400;font-variant:normal;text-transform:none;line-height:1;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}
.icon-instagram:before{content:"\ea92";padding-right:10px}
.icon-spotify:before{content:"\ea94";padding-right:10px}
.icon-youtube:before{content:"\ea9d";padding-right:10px}
.icon-github:before{content:"\eab0";padding-right:10px}
body{margin:0}
.bakgrunnur{background:#fff;margin:auto}
.efnis{height:auto;background:#79047b}
.efnis{text-align:center;padding-top:20px;padding-bottom:25px}
.efnis a{text-decoration:none;text-align:center;color:#fff;border:5px solid #600462;background-color:#600462;margin-left:50px;margin-right:50px}
.efnis nav ul li{display:inline}
.logo{align-items:center}
.nafn{font-family:Baumans,cursive}
.midjun{text-align:center}
.kenji{width:715px;height:494px;display:block;margin-left:auto;margin-right:auto;width:50%}
.footer{height:auto;background:#79047b;color:#fff;padding:15px}
.footer a{text-decoration:none;color:#fff;list-style-type:none}
nav{width:70%;margin:0 auto}
div nav{font-family:'Bree Serif',serif}
.plass{margin-top:30px;margin-bottom:30px}
.almennurTexti{margin-bottom:50px}
ul li{list-style:none}
.tafla{align-items:center}
.panta{border:5px solid #600462;background-color:#600462;border-radius:10%;font-family:'Bree Serif',serif;width:80px}
.panta a{text-decoration:none}
.panta a:visited{color:#fff}
.panta a:hover{color:#fff;font-style:italic}
.contact-box{margin:20px}
tr:nth-child(2n){background:rgba(121,4,123,.2)}
input[type=text],select,textarea{width:100%;padding:12px;border:1px solid #ccc;border-radius:4px;box-sizing:border-box;margin-top:6px;margin-bottom:16px;resize:vertical}
.pantatexti{margin-top:12px;margin-bottom:70px}
.fotListi{margin-top:35px}
.fotListiLog{margin-top:50px}
.fotListiUpp{margin-top:35px}
.uppL{text-decoration:underline;color:red;font-weight:700}
.birta{animation:transitionIn 2.5s}
@keyframes transitionIn{
from{opacity:0;transform:rotateX(-10deg)}
to{opacity:1;transform:rotateX(0)}
}
.myndHreyf{animation:myndHreyfing 2s}
@keyframes myndHreyfing{
from{transform:translateX(100%)}
to{transform:translateX(0)}
}